In [138]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [139]:
data = pd.read_csv('../dataset/train.csv')
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [140]:
data.columns = [re.sub(r'(?<!^)(?=[A-Z])', '_', col).lower() for col in data.columns]
data = data.rename(columns={
    'v_i_p': 'vip',
    'v_r_deck': 'vr_deck'
})

In [141]:
data

,passenger_id,home_planet,cryo_sleep,cabin,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [142]:
encoded = pd.get_dummies(data['home_planet'].fillna('Unknown')).astype(int)

In [143]:
encoded

      Earth  Europa  Mars  Unknown
0         0       1     0        0
1         1       0     0        0
2         0       1     0        0
3         0       1     0        0
4         1       0     0        0
...     ...     ...   ...      ...
8688      0       1     0        0
8689      1       0     0        0
8690      1       0     0        0
8691      0       1     0        0
8692      0       1     0        0

[8693 rows x 4 columns]

In [144]:
data = pd.concat([data.drop(columns='home_planet'), encoded], axis=1)

In [145]:
data

,passenger_id,cryo_sleep,cabin,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported,Earth,Europa,Mars,Unknown
0,0001_01,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,1,0,0
1,0002_01,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0,0,0
2,0003_01,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0,1,0,0
3,0003_02,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0,1,0,0
4,0004_01,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,1,0,0
8689,9278_01,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,1,0,0,0
8690,9279_01,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1,0,0,0
8691,9280_01,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,0,1,0,0
8692,9280_02,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,0,1,0,0

In [146]:
data = data.drop(columns='passenger_id')

In [147]:
data['cryo_sleep'].isna().sum()

np.int64(217)

In [148]:
cryo_sleep_encoded = pd.get_dummies(data['cryo_sleep'].fillna('Unknown'), prefix='cryo_sleep').astype(int)

In [149]:
data = pd.concat([data.drop(columns='cryo_sleep'), cryo_sleep_encoded], axis=1)

In [150]:
data

,cabin,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported,Earth,Europa,Mars,Unknown,cryo_sleep_False,cryo_sleep_True,cryo_sleep_Unknown
0,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,1,0,0,1,0,0
1,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0,0,0,1,0,0
2,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0,1,0,0,1,0,0
3,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0,1,0,0,1,0,0
4,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,1,0,0,1,0,0
8689,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,1,0,0,0,0,1,0
8690,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1,0,0,0,1,0,0
8691,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,0,1,0,0,1,0,0
8692,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,0,1,0,0,1,0,0

In [156]:
data['cabin']

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: cabin, Length: 8693, dtype: object

In [161]:
data[['deck', 'num', 'side']] = data['cabin'].str.split('/', expand=True)
data = data.drop(columns='cabin')

In [162]:
data

,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported,Earth,Europa,Mars,Unknown,cryo_sleep_False,cryo_sleep_True,cryo_sleep_Unknown,deck,num,side
0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,1,0,0,1,0,0,B,0,P
1,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0,0,0,1,0,0,F,0,S
2,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0,1,0,0,1,0,0,A,0,S
3,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0,1,0,0,1,0,0,A,0,S
4,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,0,0,0,1,0,0,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,1,0,0,1,0,0,A,98,P
8689,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,1,0,0,0,0,1,0,G,1499,S
8690,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1,0,0,0,1,0,0,G,1500,S
8691,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,0,1,0,0,1,0,0,E,608,S
8692,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,0,1,0,0,1,0,0,E,608,S

In [163]:
data['deck'].isna().sum()

np.int64(199)

In [164]:
data_deck_encoded = pd.get_dummies(data['deck'].fillna('Unknown'), prefix='deck').astype(int)

In [165]:
data_deck_encoded

,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,deck_T,deck_Unknown
0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
8688,1,0,0,0,0,0,0,0,0
8689,0,0,0,0,0,0,1,0,0
8690,0,0,0,0,0,0,1,0,0
8691,0,0,0,0,1,0,0,0,0
8692,0,0,0,0,1,0,0,0,0

In [166]:
data = pd.concat([data.drop(columns='deck'), data_deck_encoded], axis=1)

In [167]:
data

,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported,...,side,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,deck_T,deck_Unknown
0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,...,P,0,1,0,0,0,0,0,0,0
1,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,...,S,0,0,0,0,0,1,0,0,0
2,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,...,S,1,0,0,0,0,0,0,0,0
3,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,...,S,1,0,0,0,0,0,0,0,0
4,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,...,S,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,...,P,1,0,0,0,0,0,0,0,0
8689,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,...,S,0,0,0,0,0,0,1,0,0
8690,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,...,S,0,0,0,0,0,0,1,0,0
8691,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,...,S,0,0,0,0,1,0,0,0,0
8692,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,...,S,0,0,0,0,1,0,0,0,0

In [168]:
data_side_encoded = pd.get_dummies(data['side'].fillna('Unknown'), prefix='side').astype(int)
data = pd.concat([data.drop(columns='side'), data_side_encoded], axis=1)

In [169]:
data

,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported,...,deck_C,deck_D,deck_E,deck_F,deck_G,deck_T,deck_Unknown,side_P,side_S,side_Unknown
0,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,...,0,0,0,0,0,0,0,1,0,0
1,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,...,0,0,0,1,0,0,0,0,1,0
2,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,...,0,0,0,0,0,0,0,0,1,0
3,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,...,0,0,0,0,0,0,0,0,1,0
4,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,...,0,0,0,0,0,0,0,1,0,0
8689,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,...,0,0,0,0,1,0,0,0,1,0
8690,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,...,0,0,0,0,1,0,0,0,1,0
8691,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,...,0,0,1,0,0,0,0,0,1,0
8692,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,...,0,0,1,0,0,0,0,0,1,0

In [170]:
data.destination.value_counts()

destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

In [172]:
data['destination'] = data['destination'].fillna('Unknown')

In [174]:
data_destination_encoded = pd.get_dummies(data['destination'], prefix='destination').astype(int)
data = pd.concat([data.drop(columns='destination'), data_destination_encoded], axis=1)

In [175]:
data

,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported,Earth,...,deck_G,deck_T,deck_Unknown,side_P,side_S,side_Unknown,destination_55 Cancri e,destination_PSO J318.5-22,destination_TRAPPIST-1e,destination_Unknown
0,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,...,0,0,0,1,0,0,0,0,1,0
1,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,...,0,0,0,0,1,0,0,0,1,0
2,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0,...,0,0,0,0,1,0,0,0,1,0
3,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0,...,0,0,0,0,1,0,0,0,1,0
4,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,...,0,0,0,1,0,0,1,0,0,0
8689,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,1,...,1,0,0,0,1,0,0,1,0,0
8690,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1,...,1,0,0,0,1,0,0,0,1,0
8691,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,0,...,0,0,0,0,1,0,1,0,0,0
8692,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,0,...,0,0,0,0,1,0,0,0,1,0

In [177]:
data = data.rename(columns={
    'destination_55 Cancri e': 'destination_55_cancri_e',
    'destination_PSO J318.5-22': 'destination_pso_j318_5_22',
    'destination_TRAPPIST-1e': 'destination_trappist_1_e'
})

In [178]:
data

,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported,Earth,...,deck_G,deck_T,deck_Unknown,side_P,side_S,side_Unknown,destination_55_cancri_e,destination_pso_j318_5_22,destination_trappist_1_e,destination_Unknown
0,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,...,0,0,0,1,0,0,0,0,1,0
1,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,...,0,0,0,0,1,0,0,0,1,0
2,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0,...,0,0,0,0,1,0,0,0,1,0
3,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0,...,0,0,0,0,1,0,0,0,1,0
4,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,...,0,0,0,1,0,0,1,0,0,0
8689,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,1,...,1,0,0,0,1,0,0,1,0,0
8690,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1,...,1,0,0,0,1,0,0,0,1,0
8691,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,0,...,0,0,0,0,1,0,1,0,0,0
8692,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,0,...,0,0,0,0,1,0,0,0,1,0

In [179]:
data_vip_encoded = pd.get_dummies(data['vip'], prefix='vip').astype(int)
data = pd.concat([data.drop(columns='vip'), data_vip_encoded], axis=1)

In [180]:
data

,age,room_service,food_court,shopping_mall,spa,vr_deck,name,transported,Earth,Europa,...,deck_Unknown,side_P,side_S,side_Unknown,destination_55_cancri_e,destination_pso_j318_5_22,destination_trappist_1_e,destination_Unknown,vip_False,vip_True
0,39.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0,1,...,0,1,0,0,0,0,1,0,1,0
1,24.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,1,0,...,0,0,1,0,0,0,1,0,1,0
2,58.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0,1,...,0,0,1,0,0,0,1,0,0,1
3,33.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0,1,...,0,0,1,0,0,0,1,0,1,0
4,16.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1,0,...,0,0,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,0,1,...,0,1,0,0,1,0,0,0,0,1
8689,18.0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,1,0,...,0,0,1,0,0,1,0,0,1,0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1,0,...,0,0,1,0,0,0,1,0,1,0
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,0,1,...,0,0,1,0,1,0,0,0,1,0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,0,1,...,0,0,1,0,0,0,1,0,1,0

In [182]:
data_transported_encoded = pd.get_dummies(data['transported'], prefix='transported').astype(int)
data = pd.concat([data.drop(columns='transported'), data_transported_encoded], axis=1)

In [189]:
data.columns = data.columns.str.lower()

In [190]:
data

,age,room_service,food_court,shopping_mall,spa,vr_deck,name,earth,europa,mars,...,side_s,side_unknown,destination_55_cancri_e,destination_pso_j318_5_22,destination_trappist_1_e,destination_unknown,vip_false,vip_true,transported_false,transported_true
0,39.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0,1,0,...,0,0,0,0,1,0,1,0,1,0
1,24.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1,0,0,...,1,0,0,0,1,0,1,0,0,1
2,58.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0,1,0,...,1,0,0,0,1,0,0,1,1,0
3,33.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0,1,0,...,1,0,0,0,1,0,1,0,1,0
4,16.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1,0,0,...,1,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41.0,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,0,1,0,...,0,0,1,0,0,0,0,1,1,0
8689,18.0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,1,0,0,...,1,0,0,1,0,0,1,0,1,0
8690,26.0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1,0,0,...,1,0,0,0,1,0,1,0,0,1
8691,32.0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,0,1,0,...,1,0,1,0,0,0,1,0,1,0
8692,44.0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,0,1,0,...,1,0,0,0,1,0,1,0,0,1

In [193]:
data.to_csv('../dataset/preprocessed_train_data.csv', index=False)