# Spaceship titanic - Kaggle competition

#### Competition link: https://www.kaggle.com/competitions/spaceship-titanic/overview

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('../dataset/train.csv')
data

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [4]:
data.columns = data.columns.str.replace(r'(?<!^)(?=[A-Z])', '_', regex=True).str.lower()
data

,passenger_id,home_planet,cryo_sleep,cabin,destination,age,v_i_p,room_service,food_court,shopping_mall,spa,v_r_deck,name,transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [5]:
data['home_planet'] = data['home_planet'].fillna('unknown_planet')
data_home_planet = pd.get_dummies(data['home_planet'], drop_first=True).astype(int)
data = pd.concat([data.drop(columns='home_planet'), data_home_planet], axis=1)

In [6]:
data['cryo_sleep'] = data['cryo_sleep'].fillna('unknown')
data_cryo_sleep = pd.get_dummies(data['cryo_sleep'], drop_first=True, prefix='cryo_sleep').astype(int)
data = pd.concat([data.drop(columns='cryo_sleep'), data_cryo_sleep], axis=1)
data

,passenger_id,cabin,destination,age,v_i_p,room_service,food_court,shopping_mall,spa,v_r_deck,name,transported,Europa,Mars,unknown_planet,cryo_sleep_True,cryo_sleep_unknown
0,0001_01,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1,0,0,0,0
1,0002_01,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0,0,0,0,0
2,0003_01,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,1,0,0,0,0
3,0003_02,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,1,0,0,0,0
4,0004_01,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,1,0,0,0,0
8689,9278_01,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0,0,0,1,0
8690,9279_01,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,0,0,0,0,0
8691,9280_01,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,1,0,0,0,0
8692,9280_02,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,1,0,0,0,0

In [7]:
data[['deck', 'num', 'side']] = data['cabin'].str.split('/', expand=True)
data = data.drop(columns='cabin')

In [8]:
data

,passenger_id,destination,age,v_i_p,room_service,food_court,shopping_mall,spa,v_r_deck,name,transported,Europa,Mars,unknown_planet,cryo_sleep_True,cryo_sleep_unknown,deck,num,side
0,0001_01,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,1,0,0,0,0,B,0,P
1,0002_01,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0,0,0,0,0,F,0,S
2,0003_01,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,1,0,0,0,0,A,0,S
3,0003_02,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,1,0,0,0,0,A,0,S
4,0004_01,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0,0,0,0,0,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,1,0,0,0,0,A,98,P
8689,9278_01,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0,0,0,1,0,G,1499,S
8690,9279_01,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,0,0,0,0,0,G,1500,S
8691,9280_01,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,1,0,0,0,0,E,608,S
8692,9280_02,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,1,0,0,0,0,E,608,S

In [9]:
data['destination'] = data['destination'].fillna('unknown')
data_home_planet = pd.get_dummies(data['destination'], drop_first=True, prefix='planet').astype(int)
data = pd.concat([data.drop(columns='destination'), data_home_planet], axis=1)

In [10]:
data = data.rename(columns={
    'PSO J318.5-22': 'pso_j3128_5_22',
    'TRAPPIST-1e': 'trappist_1e'
})

In [11]:
data

,passenger_id,age,v_i_p,room_service,food_court,shopping_mall,spa,v_r_deck,name,transported,...,Mars,unknown_planet,cryo_sleep_True,cryo_sleep_unknown,deck,num,side,planet_PSO J318.5-22,planet_TRAPPIST-1e,planet_unknown
0,0001_01,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,...,0,0,0,0,B,0,P,0,1,0
1,0002_01,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,...,0,0,0,0,F,0,S,0,1,0
2,0003_01,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,...,0,0,0,0,A,0,S,0,1,0
3,0003_02,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,...,0,0,0,0,A,0,S,0,1,0
4,0004_01,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,...,0,0,0,0,F,1,S,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,...,0,0,0,0,A,98,P,0,0,0
8689,9278_01,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,...,0,0,1,0,G,1499,S,1,0,0
8690,9279_01,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,...,0,0,0,0,G,1500,S,0,1,0
8691,9280_01,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,...,0,0,0,0,E,608,S,0,0,0
8692,9280_02,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,...,0,0,0,0,E,608,S,0,1,0

In [12]:
data['deck'] = data['deck'].fillna('unknown')
data_deck = pd.get_dummies(data['deck'], drop_first=True, prefix='deck').astype(int)
data = pd.concat([data.drop(columns='deck'), data_deck], axis=1)

data['side'] = data['side'].fillna('unknown')
data_deck = pd.get_dummies(data['side'], drop_first=True, prefix='side').astype(int)
data = pd.concat([data.drop(columns='side'), data_deck], axis=1)

In [13]:
data['age'] = pd.to_numeric(data['age'], errors='coerce')
data['age'] = data['age'].fillna(data['age'].median())

In [14]:
data['v_i_p'] = data['v_i_p'].fillna('unknown')
data_deck = pd.get_dummies(data['v_i_p'], drop_first=True, prefix='v_i_p').astype(int)
data = pd.concat([data.drop(columns='v_i_p'), data_deck], axis=1)

In [15]:
data['room_service'] = pd.to_numeric(data['room_service'], errors='coerce')
data['room_service'] = data['room_service'].fillna(data['room_service'].median())

data['food_court'] = pd.to_numeric(data['food_court'], errors='coerce')
data['food_court'] = data['food_court'].fillna(data['food_court'].median())

data['shopping_mall'] = pd.to_numeric(data['shopping_mall'], errors='coerce')
data['shopping_mall'] = data['shopping_mall'].fillna(data['food_court'].median())

data['spa'] = pd.to_numeric(data['spa'], errors='coerce')
data['spa'] = data['spa'].fillna(data['spa'].median())

data['v_r_deck'] = pd.to_numeric(data['v_r_deck'], errors='coerce')
data['v_r_deck'] = data['v_r_deck'].fillna(data['v_r_deck'].median())

In [16]:
data['transported'] = data['transported'].astype(int)
data

,passenger_id,age,room_service,food_court,shopping_mall,spa,v_r_deck,name,transported,Europa,...,deck_D,deck_E,deck_F,deck_G,deck_T,deck_unknown,side_S,side_unknown,v_i_p_True,v_i_p_unknown
0,0001_01,39.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0002_01,24.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1,0,...,0,0,1,0,0,0,1,0,0,0
2,0003_01,58.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0,1,...,0,0,0,0,0,0,1,0,1,0
3,0003_02,33.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0,1,...,0,0,0,0,0,0,1,0,0,0
4,0004_01,16.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,41.0,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,0,1,...,0,0,0,0,0,0,0,0,1,0
8689,9278_01,18.0,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,0,0,...,0,0,0,1,0,0,1,0,0,0
8690,9279_01,26.0,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1,0,...,0,0,0,1,0,0,1,0,0,0
8691,9280_01,32.0,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,0,1,...,0,1,0,0,0,0,1,0,0,0
8692,9280_02,44.0,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1,1,...,0,1,0,0,0,0,1,0,0,0

In [17]:
# data.to_csv('../dataset/preprocessed_train_data', index=False)